footer {
    text-align: center;
    position: relative;
    height: 160px;
    overflow: hidden;
    color: #fff;
}

.footer__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #707070;
    transform: skewY(-3deg);
    transform-origin: top right;
}

.p {
    position: relative;
    margin: 0;
    top: 60px;
    font-size: 12px;
}

@media (min-width: 768px) {
    footer {
        height: 250px;
    }
    
    .p {
        top: 140px;
    }
}