.section {
    width: 100%;
    color: #888888;
    margin: 0 auto;
    font-size: 12px;
    line-height: 18px;
}

.section__text {
    padding: 0 16px;
}

@media (min-width: 768px) {
    .section {
        display: grid;
        grid-template-columns: 1.3fr 1fr;
    }

    .main {
        padding: 0 150px;
    }
}